* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Halvetica Neue", sans-serif;
}

.text-center {
    text-align: center;
}

.h-25 {
    height: 25%;
}

.p-3 {
    padding: 15px;
}

.bg-success {
    background-color: forestgreen;
}

.bg-secondary {
    background-color: lightslategray;
}

.bg-warning {
    background-color: orange;
}

.bg-danger {
    background-color: darkred;
}

/* Flex box */

.d-flex {
    display: flex;
}

/* horizontally centers display flex element */
.justify-content-center {
    justify-content: center;
}

/* vertically centers display flex element */
.align-items-center {
    align-items: center;
}

/* how elements are positioned */

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}